<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Добавить<span class="sr-only">(current)</span></a>
        </li>
     </ul>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let city of cities" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{city?.name}}</h5>
           </div>
        </div>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(city, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(city, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>


<div class="modal fade" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Добавить город</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCity(addForm)">
          <div class="form-group">
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="город" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Сохранить</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>


<div class="modal fade" id="updateCityModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Изменить город {{editCity?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <input type="text" ngModel="{{editCity?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <input type="hidden" ngModel="{{editCity?.id}}" name="id" class="form-control" id="id">
              <input type="hidden" ngModel="{{editCity?.cityCode}}" name="userCode" class="form-control" id="userCode">

              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
                 <button (click)="onUpdateCity(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Сохранить</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>


<div class="modal fade" id="deleteCityModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Удалить город {{deleteCity?.name}}?</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              <button (click)="onDeleteCity(deleteCity?.id)" class="btn btn-danger" data-dismiss="modal">Удалить</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
